
.repair-brand__slider{
  display: flex;
  @media screen and (min-width: 767px){
      flex-wrap: wrap;
  }
}

.repair-brand__slide{
  margin: 16px;
  min-width: 238px;
  max-width: 238px;
  background-color: $color-base;
  border: 1px solid $color-background;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  &:first-child{
    margin-left: 5px;
  }
  @media screen and (min-width: 767px) and (max-width: 1119px){
    margin: 0 0 16px 24px;
    min-width: 222px;
    max-width: 222px;
    &:nth-child(-n+3){
      margin-top: 24px;
      margin-left: 24px;
    }
    &:nth-last-child(-n+3){
      display: none;
    }
  }
  @media screen and (min-width: 1119px){
      margin: 0 0 16px 32px;
      min-width: 238px;
      max-width: 238px;
    &:first-child{
      margin-left: 32px;
    }
    &:nth-child(-n+4){
      margin-top: 32px;
    }
    &:nth-last-child(-n+3){
      display: flex;
    }
    &:last-child{
      display: none;
    }
    &:nth-child(4){
      margin-top: 0;
      order: 2;
    }
    &:nth-child(5){
      order: 3;
    }
    &:nth-child(6){
      order: 4;
    }
    &:nth-child(7){
      margin-top: 32px;
      order: 1;
    }
    &:nth-child(8){
      order: 5;
    }
  }
}

.repair-brand__block-img{
  align-self: center;
  margin-left: 16px;
}

.repair-brand__slider-desktop{
  display: none;
  @media screen and (min-width: 1119px) {
      margin-top: -30px;
  }
}

.repair-brand__swiper-pagination{
  position: static;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  @media screen and (min-width: 767px){
      display: none;
  }
}

.swiper-pagination__circle{
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: $color-circle;
  margin-right: 12px;
}

.swiper-pagination-bullet-active {
  background-color: $color-circle-active;
}

.repair-brand__button-block{
  display: none;
  @media screen and (min-width: 767px) and (max-width: 1119px) {
      display: block;
      margin: 8px 0 0 24px;
      padding-bottom: 34px;
  }
  @media screen and (min-width: 1119px) {
      display: block;
      margin: 8px 0 0 32px;
      padding-bottom: 34px;
  }
}

